* {
  margin: 0px;
  padding: 0px;
}

body{
    background-color: black;

}

h2{
    color: white;
}

.image {
  width: 180px;
  height: 60px;

  
}

.nav-bar {

  height: 100px;
  background-color: rgba(0, 0, 0, 0.761);
  display: flex;
  align-items: center;
  position: fixed; 
  width: 100%;
  box-shadow: 0 2px 5px rgba(255, 252, 252, 0.2); /* Adiciona uma sombra para destaque */
}


.img-capa {
  width: 100%;
  height: 600px;
  background-color: rgb(0, 0, 0);
  background-position: 44.9% 40.3%; 
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/image/opalaatech-black.jpg);
  
}


.sub-titulo{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 80px;
}

.sub-titulo h2{
  
  font-size: 30px;
}

.links {
  position:absolute;
  color: white;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.links li {
  margin: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
}

.links li a:hover{
  color: rgba(131, 199, 244, 0.969);
  
  
}

.div-minicurso{

  max-width: 500px;
  height: auto;
  display: flex;
  box-shadow: white 1px 1px 10px;
}

.div-minicurso img{

  width: 200px;
  max-height: 200px;
  padding: 10px;
}

.div-minicurso p{
  width: 250px;
  max-width: 250px;
  color: white;
  padding: 20px 20px;
}


.div-minicursos{

  
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.div-sobre{
  display: flex;
  justify-content: center;
  margin-bottom: 300px;
}
.div-sobre p{

  font-size: 20px;
  color: white;
  text-align: center;
  width: 1000px;
}

